* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

.header-style {
    text-align: center;
    padding: 25px;
}

.header-style ul {
    text-transform: uppercase;
}

.header-style li {
    list-style-type: none;
    display: inline;
    margin: 35px;
}

.header-style a {
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: all .1s;
}

.header-style a:hover {
    color: rgba(255, 0, 0, .6);
    transition: all .1s;
}

.fullscreen-image {
    width: 100%;
}

.main-info {
    text-align: center;
}

.main-title {
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 15px;
    letter-spacing: 1.3px;
    font-weight: 700;
}

.paragraph-style {
    padding: 15px 45px;
    font-family: "Courier New";
}

.button-style {
    margin: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    background-color: red;
    transition: all .1s;
}

.button-style:hover {
    background-color: rgba(255, 0, 0, .6);
    transition: all .1s;
}

.link-in-button {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1.3px;
}

.footer-style {
    text-align: right;
    margin: 15px 45px 30px;
    font-weight: 600;
    letter-spacing: 1.3px;
}
